:root {
	--font: "Consolas";
}

.nav-tabs .nav-link.active {
	color: #008CBA;
	background-color: white;
}

a.nav-link {
	color: black;
	font-size: 16px;
	font-family: var(--font);
}

.table {
	font-family: var(--font);
	font-size: 16px;
}

a.nav-link:hover {
	background-color: rgba(0, 140, 186, 0.2);
}

/* Makes body not able to scroll */
.no-scroll {
	height: 95%;
	overflow-y: hidden;
}

.CodeMirror {
	height: 95vh;
	font-size: 16px;
	font-family: var(--font);
}
