.nav-tabs .nav-link.active {
	color: #008CBA;
	background-color: white;
}

a.nav-link {
	color: black;
}

a.nav-link:hover {
	background-color: rgba(0, 140, 186, 0.2);
}

/* Makes body not able to scroll */
.no-scroll {
	height: 95%;
	overflow-y: hidden;
}

.CodeMirror {
	height: 95vh;
}
