:root {
	--run-color: #228B22;
	--step-color: #008CBA;
	--prev-color: #008CBA;
	--reset-color: #FF6347;
	--dump-color: black;
}

.button-container {
	margin: 10px 11%;
}

/* Default button. Currently using Bootstrap instead.
 * Still handles the disabled effects.
 */
.button {
	transition-duration: 0.2s;
	/*
	background-color: white; 
	color: black; 
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	width: 33%;
	cursor: pointer;*/
}

/* Normal CSS */
.run {
	border: 2px solid var(--run-color);
}
.step {
	border: 2px solid var(--step-color);
}
.prev {
	border: 2px solid var(--prev-color);
}
.reset {
	border: 2px solid var(--reset-color);
}
.dump {
	border: 2px solid var(--dump-color);
}
.page-btn {
	border: 2px solid var(--step-color);
	/*margin: 4px 2px;
	display: inline-block;*/
}


/* Hovering CSS */
.button:hover {
	color: white;
}
.run:hover {
	background-color: var(--run-color);
}
.step:hover {
	background-color: var(--step-color);
}
.prev:hover {
	background-color: var(--prev-color);
}
.reset:hover {
	background-color: var(--reset-color);
}
.dump:hover {
	background-color: var(--dump-color);
}
.page-btn:hover {
	background-color: var(--step-color);
}

/* Disabled CSS */
.button:disabled {
	opacity: 0.5;
	background-color: white;
	color: black; 
	cursor: not-allowed;
}
.step:disabled {
	border: 2px solid var(--step-color);
}
.run:disabled {
	border: 2px solid var(--run-color);
}
.prev:disabled {
	border: 2px solid var(--prev-color);
}
.reset:disabled {
	border: 2px solid var(--reset-color);
}
