.table-scrolling {
	height: 100%;
	width: 95%;
	position: absolute;
	overflow-y: scroll;
}

.sim {
	display: flex;
}

.sim-child {
	display: flex;
	flex-direction: column;
}

.machine-container {
	overflow-y: scroll;
	flex: 1.5;
}

.reg-container {
	height: 85vh;
}

.console-container {
	resize: none;
	overflow-y: scroll;
	flex: 0.5;
}

.current-inst {
	background-color: #008CBA;
	color: white;
}
