.table-scrolling {
	height: 100%;
	width: 95%;
	position: absolute;
	overflow-y: scroll;
}

.sim {
	display: flex;
}

.sim-child {
	display: flex;
	flex-direction: column;
	height: 95vh;
}

.code-container {
	flex: 0.85;
	overflow-y: scroll;
}

.reg-container {
	flex: 1;
	height: 95vh;
}

.console-container {
	resize: none;
	overflow-y: scroll;
	flex: 0.15;
}

.current-inst {
	background-color: #008CBA;
	color: white;
}

.addrInput {
	line-height: 1; 
	margin: 0; 
	padding: 0;
	resize: none;
}
